<!--html片段-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--head头-->
<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>菠萝饭后台</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../static/admin/vendors/mdi/css/materialdesignicons.min.css" th:href="@{/admin/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="../../static/admin/vendors/css/vendor.bundle.base.css" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" href="../../static/admin/css/style.css" th:href="@{/admin/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/admin/images/favicon.png" th:href="@{/admin/images/favicon.png}">
    <link rel="stylesheet" href="../../static/plugins/editormd/examples/css/style.css" th:href="@{/plugins/editormd/examples/css/style.css}"/>
    <link rel="stylesheet" href="../../static/plugins/editormd/css/editormd.css" th:href="@{/plugins/editormd/css/editormd.css}"/>
</head>

<!-- 左侧方导航栏 -->
<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>导航栏</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">仪表盘</span>
                <!--<div class="badge badge-info badge-pill">2</div>-->
            </a>
        </li>
        <li class="nav-item sidebar-category">
            <p>博客管理</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">文章管理</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="../../static/admin/pages/ui-features/buttons.html">按钮</a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../static/admin/pages/ui-features/typography.html">样式</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../static/admin/pages/forms/basic_elements.html">
                <i class=" mdi mdi-image-filter-vintage menu-icon"></i>
                <span class="menu-title">标签管理</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../static/admin/pages/charts/chartjs.html">
                <i class="mdi mdi-format-list-bulleted-type menu-icon"></i>
                <span class="menu-title">分类管理</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../static/admin/pages/tables/basic-table.html">
                <i class="mdi mdi-comment-account menu-icon"></i>
                <span class="menu-title">评论管理</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../static/admin/pages/icons/mdi.html">
                <i class=" mdi mdi-drag menu-icon"></i>
                <span class="menu-title">草稿箱</span>
            </a>
        </li>
        <li class="nav-item sidebar-category">
            <p>设置</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-brightness-7 menu-icon"></i>
                <span class="menu-title">插件设置</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="login.html"> 网易云音乐 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="login-2.html"> 登录2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../static/admin/pages/samples/register.html"> 注册1 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../static/admin/pages/samples/register-2.html"> 注册2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="lock-screen.html"> 锁屏 </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item sidebar-category">
            <p>其它</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../static/admin/docs/documentation.html">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">资料</span>
            </a>
        </li>
    </ul>
</nav>

<!-- 顶部导航栏 -->
<nav th:fragment="navbar" class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img src="../../static/admin/images/logo.svg" th:src="@{images/logo.svg}" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../static/admin/images/logo-mini.svg" th:src="@{images/logo-mini.svh}" alt="logo"/></a>
        </div>
        <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">欢迎回来, 菠萝饭</h4>
        <ul class="navbar-nav navbar-nav-right">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img style="width: 50px; height: 50px" src="../../static/admin/images/faces/face5.jpg" alt="profile" th:src="@{images/faces/face5.jpg}"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                设置
                            </a>
                            <a th:href="@{/admin/logout}" class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                注销
                            </a>
                            <a class="dropdown-item">
                                <i class=" mdi mdi-account-convert"></i>
                                更换头像
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
    <!--搜索框-->
    <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="此处输入关键字搜索" aria-label="search" aria-describedby="search">
                </div>
            </li>
        </ul>
    </div>
</nav>



<!-- JS Files -->
<th:block th:fragment="script">
    <script src="../../static/admin/vendors/js/vendor.bundle.base.js" th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
    <script src="../../static/admin/vendors/chart.js/Chart.min.js" th:src="@{/admin/vendors/chart.js/Chart.min.js}"></script>
    <script src="../../static/admin/js/off-canvas.js" th:src="@{/admin/js/off-canvas.js}"></script>
    <script src="../../static/admin/js/hoverable-collapse.js" th:src="@{/admin/js/hoverable-collapse.js}"></script>
    <script src="../../static/admin/js/template.js" th:src="@{/admin/js/template.js}"></script>
    <script src="../../static/admin/js/dashboard.js" th:src="@{/admin/js/dashboard.js}"></script>
    <script src="../../static/js/jquery-1.12.1.min.js" th:src="@{/js/jquery-1.12.1.min.js}"></script>
    <script src="../../static/plugins/editormd/editormd.min.js" th:src="@{/plugins/editormd/editormd.min.js}"></script>
</th:block>


<!-- JS Files -->
<th:block th:fragment="audio-script">
    <!-- 加载动画相关js -->
    <script src="../../static/plugins/audio/js/sg.js"></script>
    <script src="../../static/plugins/audio/js/kr_util.js"></script>
    <!-- layer弹窗插件 -->
    <script src="../../static/plugins/audio/js/layer/layer.js"></script>
    <!-- 滚动条美化插件 -->
    <script src="../../static/plugins/audio/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- 粘贴复制的插件 -->
    <script type="text/javascript" src="../../static/plugins/audio/js/clipboard.min.js"></script>
    <!-- 列表方法 -->
    <script src="../../static/plugins/audio/js/list_function.js"></script>
    <!-- 注册播放器 -->
    <script src="../../static/plugins/audio/js/music_play.js"></script>
    <!-- 歌词解析装载 -->
    <script src="../../static/plugins/audio/js/loadlyc.js"></script>
    <!-- 背景模糊化插件 -->
    <script src="../../static/plugins/audio/js/background-blur.min.js"></script>
</th:block>

<body>
</body>
</html>