<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<!--head头-->
<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Boluofan Admin</title>
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css" th:href="@{vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" th:href="@{vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" th:href="@{images/favicon.png}">
    <!--网页黑白显示-->
    <!--<style type="text/css">
        html {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: gray(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
        }
    </style>-->
</head>
<body>

</body>
</html>