<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head  th:replace="admin/_fragments :: head(~{::title})">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>菠萝饭后台</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../../static/admin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../static/admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../static/admin/css/style.css">
  <link rel="shortcut icon" href="../../static/admin/images/favicon.png" />
</head>

<body>
<div class="container-scroller d-flex">
  <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="../../static/admin/images/logo.svg"  th:src="@{/admin/images/logo.svg}" alt="logo">
            </div>
            <form class="pt-3" method="post" th:action="@{/admin/login}">
              <div id="loginForm" class="form-group">
                <input type="email" class="form-control form-control-lg" name = "username" id="exampleInputEmail1" placeholder="用户名">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" name = "password" id="exampleInputPassword1" placeholder="密码">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" name = "validateCode" id="validateCode" placeholder="验证码">
              </div>
              <div class="mt-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >登录</button>
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" name="rememberMe" value="true" class="form-check-input">
                    记住密码
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<!--/*/<th:block  th:replace="admin/_fragments :: script" >/*/-->
<script src="../../static/admin/vendors/js/vendor.bundle.base.js"></script>
<script src="../../static/admin/js/off-canvas.js"></script>
<script src="../../static/admin/js/hoverable-collapse.js"></script>
<script src="../../static/admin/js/template.js"></script>
<!--/*/</th:block>/*/-->
<!-- endinject -->
</body>
<script>
    window.onload=function(){
        //ClearCookie("BOLUOFAN_userName");
        //ClearCookie("BOLUOFAN_userName");
       var BOLUOFAN_userName = GetCookie("BOLUOFAN_userName");
       var BOLUOFAN_passWord = GetCookie("BOLUOFAN_passWord");
       if (BOLUOFAN_userName && "" != BOLUOFAN_userName){
           console.info("BOLUOFAN_userName: "+BOLUOFAN_userName+"   BOLUOFAN_passWord: "+BOLUOFAN_passWord);
           var username = document.getElementById("exampleInputEmail1");
           var password = document.getElementById("exampleInputPassword1");
           username.value = BOLUOFAN_userName;
           password.value = BOLUOFAN_passWord;
       }
    };



    // 获取cookie
    function GetCookie(name) {
        var result = null;
        var myCookie = document.cookie + ";";
        var searchName = name + "=";
        var startOfCookie = myCookie.indexOf(searchName);
        var endOfCookie;
        if (startOfCookie != -1) {
            startOfCookie += searchName.length;
            endOfCookie = myCookie.indexOf(";", startOfCookie);
            result = unescape(myCookie.substring(startOfCookie, endOfCookie));
        }
        return result;
    }

    // 清除cookie
    function ClearCookie(name) {
        setCookie(name, "", -1);
    }

    // 设置cookie
    function setCookie(c_name, value, expiredays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + expiredays);
        document.cookie = c_name + "=" + escape(value) + "";
        expires=" + exdate.toGMTString() + ";
        path="/";
    }

</script>
</html>
